<h1><%= @user.first_name%></h1> 
<h1><%=@user.last_name %></h1>
<h4><%= @user.age %></h4>
<h4><%= @user.hair_color %></h4>
<h4><%= @user.eye_color %></h4>
<h4><%= @user.gender %></h4>
<h4><%= @user.alive %></h4>
<%= link_to 'Back', users_path %>
